<a href="https://colab.research.google.com/github/Gururajreddy/Used-Car-Price-Prediction-ML-model/blob/main/Car_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/car.csv')

In [ ]:
df

In [ ]:
df = df.drop(columns = 'Unnamed: 6')

In [ ]:
df.info()

Data Should be clean 
1. Year has object and convert that into int
2. 
Price also has object and convert into int
3. Km_driven has nan and removie , and convert into int
4. fuel type contains nan values.
5. Name of 3 words

Data clean

In [ ]:
df['year'].unique()

In [ ]:
df = df[df['year'].str.isnumeric()]

In [ ]:
df['year'] = df['year'].astype(int)

In [ ]:
df.head()

In [ ]:
df = df[df['Price'] != "Ask For Price"]
df = df[df['Price'] != "for sale"]

In [ ]:
df['Price'] = df['Price'].str.replace(',','').astype(int)

In [ ]:
df.info()

In [ ]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [ ]:
df = df[df['kms_driven'].str.isnumeric()]

In [ ]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [ ]:
df = df[~df['fuel_type'].isna()]

In [ ]:
df['name'] = df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df = df[df['Price'] < 6e6]

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.to_csv("Clean_car_data")

NameError: ignored

Model Building

In [ ]:
X = df.drop(columns = 'Price')
y = df['Price']

Train test split

In [ ]:
X_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
lr = LinearRegression()
ohe = OneHotEncoder()

In [ ]:
df.head()

In [ ]:
ohe.fit(X[['name','company','fuel_type']])

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [ ]:
pipe = make_pipeline(column_trans,lr)

In [ ]:
pipe.fit(X_train, y_train)

In [ ]:
y_pred = pipe.predict(X_test)

In [ ]:
y_pred

In [ ]:
score = r2_score(y_test,y_pred)

In [ ]:
score

In [ ]:
score = []
for i in range(10):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= np.argmax(i))
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    score.append(r2_score(y_test,y_pred))

In [ ]:
np.argmax(score)

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= np.argmax(score))
lr = LinearRegression()
pipe = make_pipeline(column_trans,lr)
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
score = r2_score(y_test,y_pred)
print(score)

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearRegression.pkl','wb'))

In [ ]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2017,1000,'Petrol']],columns= ['name','company','year','kms_driven','fuel_type']))